SchemaBuilderPrototyping/SchemaBuilderPrototyping/SchemaBuilderPrototypingScreens/SampleData/SynonymSampleData/SynonymSampleData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SynonymSampleData" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SynonymSampleData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SynonymSampleData" type="tns:SynonymSampleData" />
  <xs:complexType name="SynonymSampleData">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute name="Synonym" type="xs:string" />
    <xs:attribute name="Source" type="xs:string" />
    <xs:attribute blend:Format="Website URL" name="URL" type="xs:string" />
    <xs:attribute name="Checked" type="xs:boolean" />
  </xs:complexType>
</xs:schema>